<head>
  <title>Roller Derby Resource</title>
  <%= favicon_link_tag 'favicon.ico' %>

  <div class=banner>
    <%= image_tag"rollerbanner.png", alt:"around the rink banner" %>
  </div>
</head>

<body>
  <div class=tweetbox id="tweets">
    <h1 style="text-align:center;">The Rink on Twitter</h1>
    <% @tweets.each do |tweet| %>
        <div class=tweet>

        <div class=profilepic>
          <%= link_to(image_tag(tweet.user.profile_image_url),"http://twitter.com/#{tweet.user.screen_name}") %>
        </div>

        <div class=tweettext>
        <%= link_to(tweet.user.screen_name,"http://twitter.com/#{tweet.user.screen_name}") %>
          <br>
        <%= tweet.text %>
        </div>

        </div><br>
  <% end %>
  </div>
  <div class="intstabox">
    <h1 style="text-align:center;">Instagram</h1>
    <% @instagrams.each do |instagram| %>
        <%= link_to image_tag(instagram.images.thumbnail.url), instagram.link %>
    <% end %>
  </div>

<div class=body id=picture>

  <%= image_tag("pic1.jpg", width: "90%") %>

</div>


<div class=feed id="feed">
  <h1 style="text-align: center">Roller Derby News</h1>
  <% @feed.entries.each do |entry| %>
      <%= link_to((entry.title), entry.url) %>
  <% end %>
</div>
</body>