<head>
  <title>Roller Derby Resource</title>
  <%= image_tag("favicon.ico") %>
  <link rel="shortcut icon" href="favicon.ico" >
</head>
<%= image_tag"banner_placeholder.png", alt:"around the rink banner" %>
<h1>Roller Derby</h1>
  <div class=tweetbox id="tweets">
    <h1>The Rink on Twitter</h1>
    <% @tweets.each do |tweet| %>
        <div class=tweet>

        <div class=profilepic>
          <%= link_to(image_tag(tweet.user.profile_image_url),"http://twitter.com/#{tweet.user.screen_name}") %>
        </div>

        <div class=tweettext>
        <%= link_to(tweet.user.screen_name,"http://twitter.com/#{tweet.user.screen_name}") %>
          <br>
        <%= tweet.text %>
        </div>

        </div><br>
  <% end %>
  </div>
  <div class="intstabox">
    <% @instagrams.each do |instagram| %>
        <%= link_to image_tag(instagram.images.thumbnail.url), instagram.link %>
    <% end %>
  </div>

<div class=body id=picture>

  <%= image_tag("pic1.jpg", width: "90") %>

</div>

<style>
    div.feed
    {width:25%; float:right
    }
</style>

<h1 style="text-align: right">Roller Derby News</h1>
<div class=feed id="feed">
  <% @feed.entries.each do |entry| %>
      <%= link_to((entry.title), entry.url) %>
  <% end %>
</div>